


.form-reg{
    position: relative;
  box-shadow: 0px 0px 10px 0px rgb(116,119,114);
    padding: 60px 15px;
    width: 340px;
    min-height: 600px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }
  
  .separator {
    text-align: center;
    border-bottom: 3px solid #39ac31;
    line-height: 0.1em;
    margin: auto;
    width: 60%;

}

.separator p{
  background: #fff;
  padding: 5px;
  margin-top: 20px;
  color: #d7a3d7;
}
.text-main{
  color: #39ac31 !important ;
}


.google-btn{
  color: #000;
margin: 10px 20px;
}
.google-icon{
  margin: 10px;
}

.google-btn:hover{
  background: #39ac31;
}